<template>
  <v-app>
    <v-container>
      <v-card flat color="transparent">
          <v-card-text>
            <v-row>
              <v-col cols="12" class="py-0 my-0">
                <v-img contain aspect-ratio="10" src="Logo45.png" alt="logo45"></v-img>
                <info-content class="dashboard-content" info-horizontal text-left
                  icon="mdi-information-outline" icon-color="success" subtitle="Prueba">
                  <v-row justify="center" dense>
                    <v-col cols="12" sm="12" md="12" class="mb-10">
                      <base-material-card color="primary" icon="mdi-hard-hat">
                        <template #heading>MATERIALES</template>
                        <v-card-text>
                          <div class="text-right">
                            <v-btn color="primary" @click="onCreate">
                              Nuevo
                              <v-icon>mdi-plus</v-icon>
                            </v-btn>
                          </div>
                          <v-data-table
                            :headers="headers"
                            :items="items"
                            :items-per-page="20"
                          >
                          <template slot="item.price" slot-scope="{item}">
                            ${{ item.price.toFixed(2) }}
                          </template>
                          <template slot="item.actions" slot-scope="{item}">
                            <v-tooltip top>
                              <template #activator="{ on }">
                                <v-btn
                                  fab
                                  icon
                                  x-small
                                  elevation="5"
                                  aria-label="Editar"
                                  color="primary"
                                  v-on="on"
                                  @click="onEdit(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              Editar
                            </v-tooltip>
                            <v-tooltip top>
                              <template #activator="{ on }">
                                <v-btn
                                  fab
                                  icon
                                  x-small
                                  elevation="5"
                                  aria-label="Eliminar"
                                  color="error"
                                  v-on="on"
                                  @click="onDelete(item)"
                                >
                                  <v-icon>mdi-delete</v-icon>
                                </v-btn>
                              </template>
                              Eliminar
                            </v-tooltip>
                          </template>
                          </v-data-table>
                        </v-card-text>
                      </base-material-card>
                    </v-col>
                  </v-row>
                </info-content>
              </v-col>
            </v-row>
          </v-card-text>
      </v-card>

      <v-dialog :key="key" v-model="dialog" class="mx-auto" :width="$vuetify.breakpoint.sm ? '80%' : '50%'">
        <v-card>
          <v-card-title>
            <h2 class="font-weight-regular">{{ selectedId ? 'ACTUALIZAR' : 'AGREGAR' }} MATERIAL </h2>
            <v-spacer />
            <v-btn icon @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <material-form :id="selectedId" @success="onSuccess"></material-form>
          </v-card-text>
        </v-card>
    </v-dialog>

    <v-check-dialog ref="confirmDialog">
      {{ '¿Desea eliminar este registro?. Esta acción no se puede deshacer.' }}
    </v-check-dialog>
    </v-container>
  </v-app>
</template>

<script>
import { Material } from '~/models/services/Material';

export default {
  name: 'Materials',
  layout: 'page',
  auth: 'guest',
  components: {
    VCheckDialog: () => import('@/components/base/VCheckDialog'),
    MaterialForm: () => import('@/components/forms/MaterialForm'),
    BaseMaterialCard: () => import('@/components/base/MaterialCard'),
  },
  data: () => ({
    key: 0,
    items: [],
    search: '',
    headers: [],
    dialog: false,
    selectedId: undefined,
    model: new Material()
  }),
  methods: {
    refresh() {
      this.model.index().then(response => {
        const { data, details } = response;
        this.items = data;
        this.headers = details.headers;
      });
    },
    onCreate() {
      this.key++;
      this.selectedId = undefined;
      this.dialog = true;
    },
    onEdit(item) {
      this.key++;
      this.selectedId = item.id;
      this.dialog = true;
    },
    onSuccess() {
      this.selectedId = undefined;
      this.refresh();
      this.dialog = false;
    },
    onDelete(item) {
      this.$refs.confirmDialog.open().then(() => {
        if (item.id) {
          this.model.destroy(item.id)
            .then(() => {
              this.$snackbar({
                message: 'Registro eliminado correctamente.',
                color: 'success',
              })
            })
            .catch((errors) => {
              this.$snackbar({ message: errors.message })
            })
            .finally(() => {
              this.refresh();
            })
        }
      });
    }
  },
  mounted() {
    this.refresh();
  }
};
</script>