<template>
  <h2 class="display-serif-2">{{ timeLeft }}</h2>
</template>

<script>
let intervalTimer
function zeroPadded(num) {
  // 4 --> 04
  return num < 10 ? `0${num}` : num
}
function hourConvert(hour) {
  // 15 --> 3
  return hour % 12 || 12
}
export default {
  props: {
    secs: {
      type: Number,
      default: 60,
    },
    renderStart: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    selectedTime: 0,
    timeLeft: '00:00',
    endTime: '0',
  }),
  mounted() {
    if (this.renderStart) {
      this.start()
    }
  },
  methods: {
    start() {
      this.setTime(this.secs)
    },
    setTime(seconds) {
      clearInterval(intervalTimer)
      this.timer(seconds)
    },
    timer(seconds) {
      const now = Date.now()
      const end = now + seconds * 1000
      this.displayTimeLeft(seconds)

      this.selectedTime = seconds
      // this.initialTime = seconds
      this.displayEndTime(end)
      this.countdown(end)
    },
    countdown(end) {
      const that = this
      // this.initialTime = this.selectedTime
      intervalTimer = setInterval(() => {
        const secondsLeft = Math.round((end - Date.now()) / 1000)

        if (secondsLeft === 0) {
          this.endTime = 0
        }

        if (secondsLeft < 0) {
          that.$emit('onFinish')
          clearInterval(intervalTimer)
          return
        }
        this.displayTimeLeft(secondsLeft)
      }, 1000)
    },
    displayTimeLeft(secondsLeft) {
      const minutes = Math.floor((secondsLeft % 3600) / 60)
      const seconds = secondsLeft % 60

      this.timeLeft = `${zeroPadded(minutes)}:${zeroPadded(seconds)}`
    },
    displayEndTime(timestamp) {
      const end = new Date(timestamp)
      const hour = end.getHours()
      const minutes = end.getMinutes()

      this.endTime = `${hourConvert(hour)}:${zeroPadded(minutes)}`
    },
  },
}
</script>
