<template>
  <v-app>
    <app-bar />
    <CoreView />
    <CoreFooter />
    <Snack />
    <cookie-consent
      :message="message"
      :href="href"
      :link-label="$t('buttons.LearnMore')"
      :button-label="$t('buttons.Accept')"
    />
  </v-app>
</template>

<script>
export default {
  name: 'AuthPage',
  components: {
    AppBar: () => import('~/components/auth/AppBar'),
    CoreView: () => import('~/components/auth/View'),
    CoreFooter: () => import('~/components/auth/AuthFooter'),
    Snack: () => import('~/components/base/SnackBar')
  },
  computed: {
    message() {
      return 'Prueba Desarrollo'
    },
    href() {
      return 'https://google.com.co'
    },
  },
}
</script>

<style lang="scss">
// required and to get updates
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent';
// example or use it
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent-bottom';
@import './node_modules/vue-cookieconsent-component/src/scss/cookie-consent-transition';
</style>
