<template>
  <v-app>
    <v-container>
      <v-card flat color="transparent">
          <v-card-text>
            <v-row justify="center" dense>
              <v-col cols="12" sm="12" md="12" class="mb-10">
                <v-img contain aspect-ratio="10" src="Logo45.png" alt="logo45"></v-img>
              </v-col>
              <v-col v-for="item in items" :key="item.text" cols="12" sm="5" md="5" class="mb-10 mx-5">
                <base-material-card color="primary" :title="item.text" :icon="item.icon">
                  <v-card-text class="text-right">
                    <v-btn
                      color="primary"
                      :to="item.to"
                    >
                      <v-icon
                        :left="$vuetify.breakpoint.mdAndUp"
                        size="20"
                        v-text="item.icon"
                      />
                      <span class="hidden-sm-and-down" v-text="'Ver'" />
                    </v-btn>
                  </v-card-text>
                </base-material-card>
              </v-col>
            </v-row>
          </v-card-text>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'Dashboard',
  layout: 'page',
  auth: 'guest',
  components: {
    BaseMaterialCard: () => import('@/components/base/MaterialCard.vue')
  },
  data: () => ({
  }),
  mounted() {
  },
  head: () => ({
    title: 'Dashboard',
  }),
  computed: {
    items(vm) {
      return [
        {
          icon: 'mdi-material-ui',
          text: 'Materiales',
          to: vm.localePath({ name: 'material' })
        },
        {
          icon: 'mdi-list-box',
          text: 'Proyectos',
          to: vm.localePath({ name: 'project' })
        },
        {
          icon: 'mdi-vector-link',
          text: 'Asociar Materiales',
          to: vm.localePath({ name: 'material-project' })
        },
        {
          icon: 'mdi-chart-bar',
          text: 'Reporte',
          to: vm.localePath({ name: 'report' })
        }
      ];
    }
  },
  methods: {
  },
}
</script>