<template>
  <v-app-bar :dark="isDark" absolute color="transparent" flat height="85">
    <v-container class="px-0 text-right d-flex align-center">
      <v-btn :to="home" text>
        <span class="hidden-sm-and-down" v-text="'Home'" />
      </v-btn>
      <v-spacer />
      <v-btn
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        min-height="48"
        min-width="40"
        text
      >
        <v-icon
          :left="$vuetify.breakpoint.mdAndUp"
          size="20"
          v-text="item.icon"
        />
        <span class="hidden-sm-and-down" v-text="item.text" />
      </v-btn>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppBar',
  components: {
  },
  props: {
    isDark: {
      type: Boolean,
      default: false,
    },
  },
  data: (vm) => ({
    items: [
      {
        icon: 'mdi-material-ui',
        text: 'Materiales',
        to: vm.localePath({ name: 'material' }),
      },
      {
        icon: 'mdi-list-box',
        text: 'Proyectos',
        to: vm.localePath({ name: 'project' }),
      },
      {
        icon: 'mdi-vector-link',
        text: 'Asociar Materiales',
        to: vm.localePath({ name: 'material-project' }),
      },
      {
        icon: 'mdi-chart-bar',
        text: 'Reporte',
        to: vm.localePath({ name: 'report' }),
      }
    ],
  }),
  computed: {
    title() {
      return this.$t(`titles.${this.$route.meta.title || 'Dashboard'}`)
    },
    home(vm) {
      return vm.localePath({ name: 'index' });
    }
  },
}
</script>
