<template>
  <v-main
    id="pages"
    :class="$vuetify.theme.dark ? undefined : 'grey lighten-3'"
  >
    <v-container fill-height fluid>
      <nuxt />
    </v-container>
  </v-main>
</template>

<script>

export default {
  name: 'CoreView',
  computed: {
  },
  mounted() {
  },
}
</script>

<style>
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#pages {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.v-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.v-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
</style>