<template>
  <v-app>
    <v-container>
      <v-card flat color="transparent">
          <v-card-text>
            <v-row>
              <v-col cols="12" class="py-0 my-0">
                <v-img contain aspect-ratio="10" src="Logo45.png" alt="logo45"></v-img>
                <info-content class="dashboard-content" info-horizontal text-left
                  icon="mdi-information-outline" icon-color="success" subtitle="Prueba">
                  <v-row justify="center" dense>
                    <v-col cols="12" sm="12" md="12" class="mb-10">
                      <base-material-card color="primary" icon="mdi-hard-hat">
                        <template #heading>REPORTE DE MATERIALES POR PROYECTO</template>
                        <v-card-text>
                          <v-data-table
                            :headers="headers"
                            :items="reportData"
                            item-value="project"
                            class="elevation-1"
                            show-expand
                            :single-expand="true"
                          >
                            <template v-slot:item="{ item }">
                              <tr>
                                <td>{{ item.project }}</td>
                                <td>
                                  <v-btn icon @click="item.isExpanded = !item.isExpanded">
                                    <v-icon>{{ item.isExpanded ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                  </v-btn>
                                </td>
                                <td>{{ `Total: ${getTotalByProject(item.project)}` }}</td>
                              </tr>
                              <tr v-if="item.isExpanded">
                                <td colspan="3">
                                  <v-data-table
                                    :headers="materialHeaders"
                                    :items="item.materials"
                                    hide-default-footer
                                    class="elevation-1"
                                  >
                                    <template slot="item.price" slot-scope="{item}">
                                      ${{ item.price.toFixed(2) }}
                                    </template>
                                    <template slot="item.total" slot-scope="{item}">
                                      ${{ item.total.toFixed(2) }}
                                    </template>
                                  </v-data-table>
                                </td>
                              </tr>
                            </template>
                          </v-data-table>
                        </v-card-text>
                      </base-material-card>
                    </v-col>
                  </v-row>
                </info-content>
              </v-col>
            </v-row>
          </v-card-text>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
import { Report } from '~/models/services/Report';

export default {
  name: 'Report',
  layout: 'page',
  auth: 'guest',
  components: {
    BaseMaterialCard: () => import('@/components/base/MaterialCard.vue')
  },
  data() {
    return {
      report: new Report(),
      headers: [
        { text: 'Proyecto', value: 'project' }
      ],
      materialHeaders: [
        { text: 'Material', value: 'description' },
        { text: 'Cantidad', value: 'quantity' },
        { text: 'Precio', value: 'price' },
        { text: 'Total', value: 'total' }
      ],
      reportData: [],
    };
  },
  mounted() {
    this.fetchReport();
  },
  methods: {
    async fetchReport() {
      try {
        const response = await this.report.index();
        const report = Object.keys(response).map(project => ({
          project,
          materials: response[project].materials,
          isExpanded: true
        }));
        this.reportData = report;
      } catch (error) {
        console.error('Error fetching report:', error);
      }
    },
    getTotalByProject(project) {
      const materials = this.reportData.find(x => x.project === project).materials;
      const total = (materials.map(x => x.total)).reduce((accumulator, currentValue) => accumulator + currentValue, 0);
      return `$ ${total.toFixed(2)}`;
    }
  },
};
</script>

<style scoped>
.v-data-table-header {
  font-weight: bold;
}
</style>
