<template>
    <v-card class="mx-auto mt-5" outlined>
        <v-card-text>
          <v-row class="justify-center" dense>
              <v-col v-for="(item,index) in items" :key="item.title" cols="12" sm="6" md="4">
                <v-card
                  rounded
                  :dark="orderSelected === item.order"
                  :disabled="item.order > 1 && !report.id"
                  @click="report.id ? orderSelected = item.order : null"
                  :color="orderSelected === item.order ? 'secondary' : 'light'"
                >
                  <v-list-item>
                    <v-list-item-icon>
                      <v-icon v-text="`mdi-numeric-${(index+1)}`" x-large></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title
                        color="primary"
                        :class="`text-h5 ${orderSelected === item.order && 'font-weight-bold'}`"
                      >
                        {{ item.title }}
                      </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-icon>
                      <v-icon v-text="item.prependIcon" x-large></v-icon>
                    </v-list-item-icon>
                  </v-list-item>
                </v-card>
              </v-col>
              <v-col v-if="!loading" cols="12" class="mt-5 px-5 pb-5">
                <div v-if="accessibility && !accessibility.withinRange">
                  <v-card-subtitle>
                    <v-alert
                      color="error"
                      elevation="4"
                      outlined
                      type="error"
                      icon="mdi-cash-clock"
                      class="mt-2"
                    >
                      La creación de informes estará habilitada dentro de <strong>{{ accessibility.remainingTime }}</strong>
                    </v-alert>
                  </v-card-subtitle>
                </div>
                <div v-else>
                  <v-basic-information v-if="isVisible(1)" :form="report" :contracts="contracts" @send="send" />
                  <v-general-information v-else-if="isVisible(2)" :form="report" @send="send" />
                  <v-activity-description v-else-if="isVisible(3)" :form="report" @send="send" />
                  <v-contributions-information v-else-if="isVisible(4)" :form="report" @send="send" />
                  <v-attachments-information v-else-if="isVisible(5)" :form="report" @send="send" />
                  <v-signatures-information v-else :form="report" @send="send" :type="type" />
                </div>
              </v-col>
              <v-col v-else cols="12" class="mt-5 px-5 pb-5">
                <v-skeleton-loader class="mx-auto border" type="image, article"></v-skeleton-loader>
              </v-col>
              <v-col v-if="!loading && canSendToApprove" cols="12" class="text-center">
                <v-btn color="primary" @click="dialog = true">
                  Guardar y enviar al supervisor&nbsp;&nbsp;
                  <v-icon>mdi-send</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-dialog
              v-model="dialog"
              max-width="700"
              persistent
            >
              <v-card
                prepend-icon="mdi-send-circle"
                text="¿Está seguro?"
              >
                <v-card-title>Enviar al Supervisor</v-card-title>
                <v-card-text>
                  <ul class="text-left mx-2 my-2" style="line-height: 1.5;">
                    <li>El informe de actividades que completó será enviado al supervisor para su revisión y aprobación, este paso es importante para evaluar sus actividades mensuales.</li>
                    <li>Al dar clic en "Aceptar", el sistema le enviará automáticamente al formulario del <strong>Certificado de Cumplimiento Tributario.</strong> Asegúrese de diligenciarlo una única vez en su totalidad.</li>
                    <li>Una vez que ambos documentos sean aprobados por el supervisor, debe descárgalos y subirlos como evidencia en SECOP en el numeral 7: Ejecución del Contrato, esto como parte del proceso contractual.</li>
                  </ul>
                  <br>
                  <small class="text-justify">Recuerda que cumplir con este proceso es obligatorio para el trámite de pagos en la entidad. <strong>Es fundamental actualizar esta información mensualmente para mantener la transparencia y la legalidad en los registros financieros.</strong></small>
                </v-card-text>
                <v-card-text class="text-center">¿Está seguro?</v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn @click="dialog = false">Cancelar</v-btn>
                  <v-btn @click="sendToApprove" color="primary">Aceptar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
      </v-card>
</template>

<script>
import { ActivityReport } from "@/models/services/portal/ActivityReport";
import { ActivityReportEvidence } from "@/models/services/portal/ActivityReportEvidence";
import { Contractor } from "~/models/services/portal/Contractor";

const SUSPENSION = 3
const ADDITION = 2
const PRORROGA = 4

const CONTRACTOR_TYPE = 'contractor';
export default {
  name: "VActivityReportForm",
  components: {
    VBasicInformation: () => import('~/components/activity-report/BasicInformation'),
    VGeneralInformation: () => import('~/components/activity-report/GeneralInformation'),
    VActivityDescription: () => import('~/components/activity-report/ActivityDescription'),
    VContributionsInformation: () => import('~/components/activity-report/ContributionsInformation'),
    VAttachmentsInformation: () => import('~/components/activity-report/AttachmentsInformation'),
    VSignaturesInformation: () => import('~/components/activity-report/SignaturesInformation')
  },
  props: {
    id: {
      type: Number,
      default: undefined
    },
    type: {
      type: String,
      default: CONTRACTOR_TYPE
    },
    accessibility: {
      type: String,
      default: undefined
    }
  },
  data: (vm) => ({
    dialog: false,
    loading: false,
    orderSelected: 1,
    contracts: [],
    contractor: undefined,
    report: new ActivityReport()
  }),
  methods: {
    send() {
      if (this.report.id){
        this.report.updateWithFiles(this.report.id).then(resp => {
          const { details: { id, evidences, contractor_signature_path, social_security_attachment_path, attachments_path } } = resp;
          this.report = new ActivityReport({
            ...this.report.data(),
            id,
            evidences,
            attachments_path,
            contractor_signature_path,
            social_security_attachment_path,
            evidencesList: evidences.map(x => new ActivityReportEvidence(x))
          });
          this.continue();
        })
        .catch(({ details:message }) => {
          this.$snackbar({ message });
        })
      } else {
        this.report.storeWithFiles().then(resp => {
          const { details: { id } } = resp;
          this.report = new ActivityReport({
            ...this.report.data(),
            id
          });
          this.continue();
        })
        .catch(({ details:message }) => {
          this.$snackbar({ message });
        })
      }
    },
    continue() {
      setTimeout(() => {
        if (this.orderSelected < 6){
          if (this.orderSelected === 4 && !this.report.is_last_report){
            this.orderSelected+=2;
          } else {
            this.orderSelected++;
          }
        }
      }, 1500);
    },
    sendToApprove() {
      this.report.sendToApprove(this.report.id).then(resp => {
        const { details: { state, redirect_to_compliance } } = resp;
        this.report = new ActivityReport({ ...this.report.data(), state });
        this.$snackbar({ message: 'El informe ha sido enviado a aprobar por el supervisor.', color: 'success' });
        if (redirect_to_compliance && redirect_to_compliance === true){
          this.navigateToPayment();
        } else {
          this.dialog = false;
        }
      })
      .catch(console.error)
    },
    navigateToPayment() {
      const {report_date, contract_number:contract, contract_id, contractor_id} = this.report;
      const [period_year, period_month] = report_date.split('-');
      const queryParams = { period_month, period_year, contract, contract_id, contractor_id };
      const paymentPath = this.localePath({
        path: '/iniciar-pago',
        query: queryParams
      });
      this.$router.push(paymentPath);
    },
    isVisible(order) {
      return this.orderSelected === order;
    },
    fetchData() {
      this.loading = true;
      const document = this.$store.state.auth.user.document;
      const promises = [(new Contractor()).findContractor(document)];
      if (this.id){
        promises.push((new ActivityReport()).show(this.id));
      }
      Promise.all(promises).then(resp => {
        const [respContractor, respReport] = resp;
        const {id,name,surname,document,eps_name,afp_name,document_type_id,contracts} = respContractor.data;
        let reportData = {
          contract_id: undefined,
          contractor_id: id,
          report_number: undefined,
          contract_number: undefined,
          virtual_expedient_number: undefined,
          contractor_name: `${name} ${surname}`,
          initiation_act_date: undefined,
          addition_and_or_extension: undefined,
          suspensions: undefined,
          execution_time: undefined,
          termination_date: undefined,
          contract_value: undefined,
          contract_value_fmt: undefined,
          contract_subject: undefined,
          contractor_identification: document,
          contractor_document_type_id: document_type_id,
          eps_name,
          afp_name,
          risks_name: 'POSITIVA DE SEGUROS',
          report_date: '',
          activity_period: [],
          is_last_report: false,
          payment_number: undefined,
          payment_date: undefined,
          eps_value: undefined,
          afp_value: undefined,
          risks_value: undefined,
          eps_value_fmt: undefined,
          afp_value_fmt: undefined,
          risks_value_fmt: undefined,
          contributions_total: undefined,
          state: 0,
          attachments: undefined,
          contractor_signature: undefined,
          supervisor_signature: undefined,
          social_security_attachment: undefined,
          is_new_contractor: false,
          evidences: [],
          evidencesList: []
        };
        if (respReport){
          const currentData = respReport.data;
          reportData = { ...reportData, ...currentData };
          reportData.activity_period = reportData.activity_period || [];
          reportData.evidencesList = currentData.evidences.map(x => new ActivityReportEvidence(x));

          if (reportData.eps_value){
            reportData.eps_value_fmt = this.formatCurrency(reportData.eps_value);
          }
          if (reportData.afp_value){
            reportData.afp_value_fmt = this.formatCurrency(reportData.afp_value);
          }
          if (reportData.risks_value){
            reportData.risks_value_fmt = this.formatCurrency(reportData.risks_value);
          }
          if (reportData.contributions_total){
            reportData.contributions_total_fmt = this.formatCurrency(reportData.contributions_total);
          }
          if (reportData.contract_value){
            reportData.contract_value_fmt = this.formatCurrency(reportData.contract_value);
          }

          const currentContract = contracts.find(x => x.contract_id === currentData.contract_id);
          const { is_last_report , start_date, contract_type, duration_days_text, final_date, total, object_contract } = currentContract;
          reportData.is_last_report = is_last_report;
          reportData.initiation_act_date = start_date;
          reportData.addition_and_or_extension = contract_type === 2 ? 'Si' : 'No';
          reportData.suspensions = contract_type === 3 ? 'Si' : 'No';
          reportData.execution_time = duration_days_text;
          reportData.termination_date = final_date;
          reportData.contract_value = total;
          reportData.contract_value_fmt = this.formatCurrency(total);
          reportData.contract_subject = object_contract;
        }
        this.report = new ActivityReport(reportData);
        this.contracts = this.availableContracts(contracts);
      })
      .catch(errors => {
        this.$snackbar({ message: errors.message });
      })
      .finally(() => {
        this.loading = false;
      });
    },
    availableContracts(contracts) {
      return contracts.filter(
        (contract) =>
          contract.days_left > 0 &&
          contract.contract_type_id !== SUSPENSION &&
          contract.contract_type_id !== ADDITION &&
          contract.contract_type_id !== PRORROGA
      );
    },
    formatCurrency(number) {
      return new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP', maximumFractionDigits: 0 }).format(number);
    },
  },
  mounted() {
    this.fetchData();
  },
  computed: {
    items(vm) {
      const options = [
        {
          order: 1,
          title: vm.$t('activityReport.titles.basicInformation'),
          prependIcon: 'mdi-information-box-outline'
        },
        {
          order: 2,
          title: vm.$t('activityReport.titles.generalInformation'),
          prependIcon: 'mdi-folder-information-outline'
        },
        {
          order: 3,
          title: vm.$t('activityReport.titles.activityDescription'),
          prependIcon: 'mdi-animation-outline'
        },
        {
          order: 4,
          title: vm.$t('activityReport.titles.contributionsInformation'),
          prependIcon: 'mdi-account-group-outline'
        },
        {
          order: 5,
          title: vm.$t('activityReport.titles.attachmentsInformation'),
          prependIcon: 'mdi-attachment'
        },
        {
          order: 6,
          title: vm.$t('activityReport.titles.signaturesInformation'),
          prependIcon: 'mdi-signature-freehand'
        }
      ];
      if (this.report.is_last_report){
        return options;
      }
      return options.filter(x => x.order !== 5);
    },
    canSendToApprove() {
      const { report_date, activity_period, eps_value, afp_value, risks_value, contractor_signature_path, evidencesList, state, social_security_attachment_path, attachments_path, is_last_report, is_new_contractor } = this.report;
      return report_date && activity_period.length && (is_new_contractor || (eps_value && afp_value && risks_value)) && (!is_last_report || attachments_path) && social_security_attachment_path && contractor_signature_path && evidencesList.length && [0,3].includes(state) && this.type === CONTRACTOR_TYPE;
    }
  }
};
</script>

<style lang="sass">
.v-card
  border-radius:0 !important
.no-padding
  padding: 0 !important
.v-window__container
  .v-card__text
    padding: 0 !important
</style>
