<template>
  <v-form-template
      ref="myForm"
      :i18n_path="i18n_path"
      :id="id"
      :form.sync="form"
      :sections="registerFields"
      :loading="loading"
      with-title
      :method="method"
      @submitting="start"
      @finished="finish"
      @success="onSuccess"
      @error="onError"
      reset-form
  >
  </v-form-template>
</template>

<script>  
import { Material } from '~/models/services/Material';

export default {
  name: "MaterialForm",
  components: {
    VFormTemplate: () => import('~/components/global/FormTemplateCustom'),
  },
  props: {
    id: {
      type: Number,
      default: undefined
    }
  },
  data: () => ({
    loading: false,
    form: new Material({
      code: '',
      description: '',
      unit: '',
      price: ''
    }),
    i18n_path: "newforms",
    units: [{'id':'m2'},{'id':'und'},{'id':'kg'}]
  }),
  methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    },
    onSuccess() {
      setTimeout(() => {
        this.$emit('success');
      }, 1500);
    },
    onError(errors) {
      this.errors = errors;
    }
  },
  mounted() {
    if (this.id){
      (new Material()).show(this.id).then(response => {
        this.form = new Material({ ...response.data });
      }).catch(console.error);
    }
  },
  computed: {
    method() {
      return this.id ? 'update' : 'store';
    },
    registerFields() {
      const that = this;
      const inputs = [
      {
        title: that.$t(`${that.i18n_path}.titles.complete`),
        fields: [
          {
            name: "code",
            icon: "mdi-alpha-c-box",
            type: "text",
            rules: that.form.validations.input_text_required,
            flex: 6,
            values: that.contracts,
            attrs: {
              required: true,
              autocomplete: "off"
            }
          },
          {
            name: "description",
            icon: "mdi-alpha-d-box",
            type: "text",
            flex: 6,
            rules: that.form.validations.input_text_required,
            attrs: {
              required: true,
              autocomplete: "off"
            },
          },
          {
            name: "unit",
            icon: "mdi-alpha-u-box",
            type: "select",
            rules: that.form.validations.input_required,
            flex: 6,
            values: this.units,
            attrs: {
              required: true,
              autocomplete: "off",
              itemValue: "id",
              itemText: "id"
            }
          },
          {
            name: "price",
            icon: "mdi-alpha-p-box",
            type: "text",
            flex: 6,
            rules: that.form.validations.input_number_required,
            attrs: {
              required: true,
              autocomplete: "off"
            },
          }
        ],
      },
      ];
      return inputs
        .filter((form) => !form.hide)
        .map((form) => {
          return {
            title: form.title,
            fields: form.fields.filter((el) => !el.hide),
          };
        });
    },
  },
  beforeDestroy() {
    this.form = new Material({
      code: '',
      description: '',
      unit: '',
      price: ''
    });
  }
};
</script>