<template>
  <v-form-template
      ref="myForm"
      :i18n_path="i18n_path"
      :id="id"
      :form.sync="form"
      :sections="registerFields"
      :loading="loading"
      with-title
      :method="method"
      @submitting="start"
      @finished="finish"
      @success="onSuccess"
      @error="onError"
      reset-form
  >
  </v-form-template>
</template>

<script>  
import { Project } from '~/models/services/Project';
import { Material } from '~/models/services/Material';
import { MaterialProject } from '~/models/services/MaterialProject';

export default {
  name: "MaterialProjectForm",
  components: {
    VFormTemplate: () => import('~/components/global/FormTemplateCustom'),
  },
  props: {
    id: {
      type: Number,
      default: undefined
    }
  },
  data: () => ({
    loading: false,
    form: new MaterialProject({
      material_id: '',
      project_id: '',
      quantity: ''
    }),
    i18n_path: "newforms",
    materials: [],
    projects: [],
  }),
  methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    },
    onSuccess() {
      setTimeout(() => {
        this.$emit('success');
      }, 1500);
    },
    onError(errors) {
      this.errors = errors;
    },
    loadMaterials() {
      (new Material()).index().then(response => {
        this.materials = response.data;
      }).catch(_ => {
        this.materials = [];
      });
    },
    loadProjects() {
      (new Project()).index().then(response => {
        this.projects = response.data;
      }).catch(_ => {
        this.projects = [];
      });
    }
  },
  mounted() {
    this.loadMaterials();
    this.loadProjects();
    if (this.id){
      (new MaterialProject()).show(this.id).then(response => {
        this.form = new MaterialProject({ ...response.data });
      }).catch(console.error);
    }
  },
  computed: {
    method() {
      return this.id ? 'update' : 'store';
    },
    registerFields() {
      const that = this;
      const inputs = [
      {
        title: that.$t(`${that.i18n_path}.titles.complete`),
        fields: [
          {
            name: "project_id",
            icon: "mdi-alpha-p-box",
            type: "select",
            rules: that.form.validations.required,
            values: this.projects,
            flex: 6,
            attrs: {
              required: true,
              autocomplete: "off",
              itemText: 'name',
              itemValue: 'id'
            }
          },
          {
            name: "material_id",
            icon: "mdi-alpha-m-box",
            type: "select",
            rules: that.form.validations.required,
            values: this.materials,
            flex: 6,
            attrs: {
              required: true,
              autocomplete: "off",
              itemText: 'description',
              itemValue: 'id'
            }
          },
          {
            name: "quantity",
            icon: "mdi-alpha-c-box",
            type: "number",
            rules: that.form.validations.required,
            flex: 6,
            attrs: {
              required: true,
              autocomplete: "off"
            }
          }
        ],
      },
      ];
      return inputs
        .filter((form) => !form.hide)
        .map((form) => {
          return {
            title: form.title,
            fields: form.fields.filter((el) => !el.hide),
          };
        });
    },
  },
  beforeDestroy() {
    this.form = new MaterialProject({
      material_id: '',
      project_id: '',
      quantity: ''
    });
  }
};
</script>