<template>
  <v-form-template
      ref="myForm"
      :i18n_path="i18n_path"
      :id="id"
      :form.sync="form"
      :sections="registerFields"
      :loading="loading"
      with-title
      :method="method"
      @submitting="start"
      @finished="finish"
      @success="onSuccess"
      @error="onError"
      reset-form
  >
  </v-form-template>
</template>

<script>  
import { Project } from '~/models/services/Project';
import { Location } from '~/models/services/Location';

export default {
  name: "ProjectForm",
  components: {
    VFormTemplate: () => import('~/components/global/FormTemplateCustom'),
  },
  props: {
    id: {
      type: Number,
      default: undefined
    }
  },
  data: () => ({
    loading: false,
    form: new Project({
      name: '',
      country_id: '',
      department_id: '',
      city_id: ''
    }),
    i18n_path: "newforms",
    locationApi: new Location(),
    countries: [],
    departments: [],
    cities: []
  }),
  methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    },
    onSuccess() {
      setTimeout(() => {
        this.$emit('success');
      }, 1500);
    },
    onError(errors) {
      this.errors = errors;
    },
    loadCountries() {
      this.locationApi.getCountries().then(response => {
        this.countries = response;
      }).catch(_ => {
        this.countries = [];
      });
    },
    loadDepartments(val) {
      this.locationApi.getDepartments(val).then(response => {
        this.departments = response;
      }).catch(_ => {
        this.departments = [];
      });
    },
    loadCities(val) {
      this.locationApi.getCities(val).then(response => {
        this.cities = response;
      }).catch(_ => {
        this.cities = [];
      });
    }
  },
  mounted() {
    this.loadCountries();
    if (this.id){
      (new Project()).show(this.id).then(response => {
        this.form = new Project({ ...response.data });
        this.loadDepartments(this.form.country_id);
        this.loadCities(this.form.department_id);
      }).catch(console.error);
    }
  },
  computed: {
    method() {
      return this.id ? 'update' : 'store';
    },
    registerFields() {
      const that = this;
      const inputs = [
      {
        title: that.$t(`${that.i18n_path}.titles.complete`),
        fields: [
          {
            name: "name",
            icon: "mdi-alpha-n-box",
            type: "text",
            rules: that.form.validations.input_text_required,
            flex: 6,
            attrs: {
              required: true,
              autocomplete: "off"
            }
          },
          {
            name: "country_id",
            icon: "mdi-alpha-p-box",
            type: "select",
            flex: 6,
            rules: that.form.validations.required,
            values: this.countries,
            attrs: {
              required: true,
              autocomplete: "off",
              itemText: 'name',
              itemValue: 'id'
            },
            on: {
              change: (val) => {
                this.loadDepartments(val);
              }
            }
          },
          {
            name: "department_id",
            icon: "mdi-alpha-d-box",
            type: "select",
            flex: 6,
            rules: that.form.validations.required,
            values: this.departments,
            attrs: {
              required: true,
              autocomplete: "off",
              itemText: 'name',
              itemValue: 'id'
            },
            on: {
              change: (val) => {
                this.loadCities(val);
              }
            }
          },
          {
            name: "city_id",
            icon: "mdi-alpha-c-box",
            type: "select",
            rules: that.form.validations.required,
            flex: 6,
            values: this.cities,
            attrs: {
              required: true,
              autocomplete: "off",
              itemText: 'name',
              itemValue: 'id'
            }
          }
        ],
      },
      ];
      return inputs
        .filter((form) => !form.hide)
        .map((form) => {
          return {
            title: form.title,
            fields: form.fields.filter((el) => !el.hide),
          };
        });
    },
  },
  beforeDestroy() {
    this.form = new Project({
      name: '',
      country_id: '',
      department_id: '',
      city_id: ''
    });
  }
};
</script>